project/serial/featureunion.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureUnion">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
  </xs:all>
</xs:complexType>

<xs:element name="fUnion" type="srl:FeatureUnion"/>
  
</xs:schema> 
