project/serial/featurerefine.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureRefine">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="shapeMap" type="srl:EvolveContainer"/>
  </xs:all>
</xs:complexType>

<xs:element name="refine" type="srl:FeatureRefine"/>
  
</xs:schema> 
