project/serial/featuresubtract.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebooleanbase.xsd"/>

<xs:complexType name="FeatureSubtract">
  <xs:all>
    <xs:element name="featureBooleanBase" type="srl:FeatureBooleanBase"/>
  </xs:all>
</xs:complexType>

<xs:element name="subtract" type="srl:FeatureSubtract"/>
  
</xs:schema> 
