project/serial/featurecylinder.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureCylinder">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="radius" type="srl:Parameter"/>
    <xs:element name="height" type="srl:Parameter"/>
    <xs:element name="csys" type="srl:Parameter"/>
  </xs:all>
</xs:complexType>

<xs:element name="cylinder" type="srl:FeatureCylinder"/>

</xs:schema> 
