project/serial/featuredraft.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureDraft">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="targetPicks" type="srl:Picks"/>
    <xs:element name="neutralPick" type="srl:Pick"/>
    <xs:element name="angle" type="srl:Parameter"/>
  </xs:all>
</xs:complexType>

<xs:element name="draft" type="srl:FeatureDraft"/>
  
</xs:schema> 
