project/serial/featurenest.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureNest">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="gap" type="srl:Parameter"/>
    <xs:element name="pitch" type="xs:double"/>
  </xs:all>
</xs:complexType>

<xs:element name="nest" type="srl:FeatureNest"/>
  
</xs:schema> 
