project/serial/featureoffset.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureOffset">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="picks" type="srl:Picks"/>
    <xs:element name="distance" type="srl:Parameter"/>
    <xs:element name="distanceLabel" type="srl:PLabel"/>
  </xs:all>
</xs:complexType>

<xs:element name="offset" type="srl:FeatureOffset"/>
  
</xs:schema> 
