project/serial/featuretrim.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureTrim">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="reversed" type="srl:Parameter"/>
    <xs:element name="reversedLabel" type="srl:PLabel"/>
    <xs:element name="intersectionMapper" type="srl:IntersectionMapper"/>
  </xs:all>
</xs:complexType>

<xs:element name="trim" type="srl:FeatureTrim"/>
  
</xs:schema> 
