project/serial/featuresphere.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureSphere">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="radius" type="srl:Parameter"/>
    <xs:element name="csys" type="srl:Parameter"/>
    <xs:element name="csysDragger" type="srl:CSysDragger"/>
  </xs:all>
</xs:complexType>

<xs:element name="sphere" type="srl:FeatureSphere"/>
  
</xs:schema> 
