project/serial/featurebase.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>

<xs:include schemaLocation="shapehistory.xsd"/>

<xs:complexType name="Vec3d">
  <xs:all>
    <xs:element name="x" type="xs:double" default="NaN"/>
    <xs:element name="y" type="xs:double" default="NaN"/>
    <xs:element name="z" type="xs:double" default="NaN"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="Quat">
  <xs:all>
    <xs:element name="x" type="xs:double" default="NaN"/>
    <xs:element name="y" type="xs:double" default="NaN"/>
    <xs:element name="z" type="xs:double" default="NaN"/>
    <xs:element name="w" type="xs:double" default="NaN"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="Matrixd">
  <xs:all>
    <xs:element name="i0j0" type="xs:double" default="1.0"/>
    <xs:element name="i0j1" type="xs:double" default="0.0"/>
    <xs:element name="i0j2" type="xs:double" default="0.0"/>
    <xs:element name="i0j3" type="xs:double" default="0.0"/>
    <xs:element name="i1j0" type="xs:double" default="0.0"/>
    <xs:element name="i1j1" type="xs:double" default="1.0"/>
    <xs:element name="i1j2" type="xs:double" default="0.0"/>
    <xs:element name="i1j3" type="xs:double" default="0.0"/>
    <xs:element name="i2j0" type="xs:double" default="0.0"/>
    <xs:element name="i2j1" type="xs:double" default="0.0"/>
    <xs:element name="i2j2" type="xs:double" default="1.0"/>
    <xs:element name="i2j3" type="xs:double" default="0.0"/>
    <xs:element name="i3j0" type="xs:double" default="0.0"/>
    <xs:element name="i3j1" type="xs:double" default="0.0"/>
    <xs:element name="i3j2" type="xs:double" default="0.0"/>
    <xs:element name="i3j3" type="xs:double" default="1.0"/>
  </xs:all>
</xs:complexType>
  
<xs:complexType name="ParameterValue">
  <xs:choice>
    <xs:element name="aDouble" type="xs:double" default="NaN"/>
    <xs:element name="anInteger" type="xs:int" default="0"/>
    <xs:element name="aBool" type="xs:boolean" default="false"/>
    <xs:element name="aString" type="xs:string"/>
    <xs:element name="aPath" type="xs:anyURI"/>
    <xs:element name="aVec3d" type="srl:Vec3d"/>
    <xs:element name="aQuat" type="srl:Quat"/>
    <xs:element name="aMatrixd" type="srl:Matrixd"/>
  </xs:choice>
</xs:complexType>  
  
<xs:complexType name="Parameter">
  <xs:all>
    <xs:element name="name" type="xs:string" default="Name"/>
    <xs:element name="constant" type="xs:boolean" default="true"/>
    <xs:element name="value" type="xs:double" default="NaN" minOccurs="0" maxOccurs="1"/>
    <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="pValue" type="srl:ParameterValue" minOccurs="0" maxOccurs="1"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="EvolveRecord">
  <xs:all>
    <xs:element name="idIn" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="idOut" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="EvolveContainer">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="evolveRecord" type="srl:EvolveRecord"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="ShapeIdRecord">
  <xs:all>
    <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="shapeOffset" type="xs:unsignedLong" default="18446744073709551615"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="ShapeIdContainer">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="shapeIdRecord" type="srl:ShapeIdRecord"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="FeatureTagRecord">
  <xs:all>
    <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="tag" type="xs:string" default=""/>
  </xs:all>
</xs:complexType>

<xs:complexType name="FeatureTagContainer">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="featureTagRecord" type="srl:FeatureTagRecord"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="IdSet">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="DerivedRecord">
  <xs:all>
    <xs:element name="idSet" type="srl:IdSet"/>
    <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
  </xs:all>
</xs:complexType>
  
<xs:complexType name="DerivedContainer">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="derivedRecord" type="srl:DerivedRecord"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="SeerShape">
  <xs:all>
    <xs:element name="rootShapeId" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="shapeIdContainer" type="srl:ShapeIdContainer"/>
    <xs:element name="evolveContainer" type="srl:EvolveContainer"/>
    <xs:element name="featureTagContainer" type="srl:FeatureTagContainer"/>
    <xs:element name="derivedContainer" type="srl:DerivedContainer"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="EdgeNode">
  <xs:all>
    <xs:element name="edgeId" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="center" type="xs:double"/>
    <xs:element name="alive" type="xs:boolean"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="EdgeNodes">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="array" type="srl:EdgeNode"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="EdgeSplit">
  <xs:all>
    <xs:element name="edgeHistory" type="srl:ShapeHistory"/>
    <xs:element name="nodes" type="srl:EdgeNodes"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="EdgeSplits">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="array" type="srl:EdgeSplit"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="IntersectionNode">
  <xs:all>
    <xs:element name="edgeId" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="centerX" type="xs:double"/>
    <xs:element name="centerY" type="xs:double"/>
    <xs:element name="alive" type="xs:boolean"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="IntersectionNodes">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="array" type="srl:IntersectionNode"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="EdgeIntersection">
  <xs:all>
    <xs:element name="faceHistory1" type="srl:ShapeHistory"/>
    <xs:element name="faceHistory2" type="srl:ShapeHistory"/>
    <xs:element name="nodes" type="srl:IntersectionNodes"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="EdgeIntersections">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="array" type="srl:EdgeIntersection"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="FaceNode">
  <xs:all>
    <xs:element name="faceId" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="wireId" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="centerX" type="xs:double"/>
    <xs:element name="centerY" type="xs:double"/>
    <xs:element name="alive" type="xs:boolean"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="FaceNodes">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="array" type="srl:FaceNode"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="FaceSplit">
  <xs:all>
    <xs:element name="faceHistory" type="srl:ShapeHistory"/>
    <xs:element name="nodes" type="srl:FaceNodes"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="FaceSplits">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="array" type="srl:FaceSplit"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="SameDomain">
  <xs:all>
    <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="histories" type="srl:ShapeHistories"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="SameDomains">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="array" type="srl:SameDomain"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="IntersectionMapper">
  <xs:all>
    <xs:element name="edgeIntersections" type="srl:EdgeIntersections"/>
    <xs:element name="faceSplits" type="srl:FaceSplits"/>
    <xs:element name="edgeSplits" type="srl:EdgeSplits"/>
    <xs:element name="sameDomains" type="srl:SameDomains"/>
  </xs:all>
</xs:complexType>

<xs:simpleType name="ColorValue">
  <xs:restriction base="xs:decimal">
    <xs:minExclusive value="0.0"/>
    <xs:maxInclusive value="1.0"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="Color">
  <xs:all>
    <xs:element name="r" type="srl:ColorValue"/>
    <xs:element name="g" type="srl:ColorValue"/>
    <xs:element name="b" type="srl:ColorValue"/>
    <xs:element name="a" type="srl:ColorValue"/>
  </xs:all>
</xs:complexType>
  
<xs:complexType name="FeatureBase">
  <xs:all>
    <xs:element name="name" type="xs:string" default="Empty"/>
    <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="seerShape" type="srl:SeerShape"  minOccurs="0" maxOccurs="1"/>
    <xs:element name="intersectionMapper" type="srl:IntersectionMapper"  minOccurs="0" maxOccurs="1"/>
    <xs:element name="color" type="srl:Color"  minOccurs="0" maxOccurs="1"/>
    <xs:element name="state" type="xs:string"  minOccurs="0" maxOccurs="1"/>
  </xs:all>
</xs:complexType>

<!-- following definitions are not used directly in base, but might be in derived -->

<xs:complexType name="Pick">
  <xs:all>
    <xs:element name="id" type="xs:string" default="00000000-0000-0000-0000-000000000000"/>
    <xs:element name="u" type="xs:double" default="0.0"/>
    <xs:element name="v" type="xs:double" default="0.0"/>
    <xs:element name="history" type="srl:ShapeHistory"  minOccurs="0" maxOccurs="1"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="Picks">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="array" type="srl:Pick"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="PLabel">
  <xs:all>
    <xs:element name="matrix" type="srl:Matrixd"/>
    <xs:element name="color" type="srl:Color"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="CSysDragger">
  <xs:all>
    <xs:element name="matrix" type="srl:Matrixd"/>
    <xs:element name="linked" type="xs:boolean"/>
  </xs:all>
</xs:complexType>

</xs:schema> 
