project/serial/featurehollow.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.cadseer.com/prj/srl"
  xmlns:srl="http://www.cadseer.com/prj/srl"
>
  
<xs:include schemaLocation="featurebase.xsd"/>

<xs:complexType name="FeatureHollow">
  <xs:all>
    <xs:element name="featureBase" type="srl:FeatureBase"/>
    <xs:element name="hollowPicks" type="srl:Picks"/>
    <xs:element name="offset" type="srl:Parameter"/>
  </xs:all>
</xs:complexType>

<xs:element name="hollow" type="srl:FeatureHollow"/>
  
</xs:schema> 
